<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddout.fb.dao.fb.IAnalysisMapper">
	
	<select id="queryOddsList" parameterType="string" resultType="map">
		select * from t_odds_info
		where match_id=#{matchId}
		order by id asc
	</select>
	
	<select id="getEndMatchCount" resultType="int">
		select count(1) from t_match
		where score_result = 'end'
	</select>
	<select id="queryEndMatch" parameterType="map" resultType="map">
		select * from t_match
		where score_result = 'end'
		limit #{start},#{end}
	</select>
	
	
	
	
	<insert id="saveAnalysisView1" parameterType="map">
		insert into t_analysis_view1
		(match_id,killy_result,match_result,killy_home,killy_draw,killy_away)
		values
		(#{matchId},#{killyResult},#{matchResult},
		#{killy_home,jdbcType=NUMERIC},#{killy_draw,jdbcType=NUMERIC},#{killy_away,jdbcType=NUMERIC})
	</insert>
	
	<select id="queryHomeAndHomeState" parameterType="string" resultType="map">
		select t1.* 
		from t_match t1
		,
			(
			select * from t_match
			where id=#{matchId}
			) t2
		where t1.home_team=t2.home_team
		  and t1.leagueName=t2.leagueName
		  and t1.season_id=t2.season_id
		  and t1.score_result='end'
		ORDER BY (t1.roundName+0) asc
		limit 0,30
	</select>
	<select id="queryAwayAndAwayState" parameterType="string" resultType="map">
		select t1.* 
		from t_match t1
		,
			(
			select * from t_match
			where id=#{matchId}
			) t2
		where t1.away_team=t2.away_team
		  and t1.leagueName=t2.leagueName
		  and t1.season_id=t2.season_id
		  and t1.score_result='end'
		ORDER BY (t1.roundName+0) asc
		limit 0,30
	</select>
</mapper>