<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddout.fb.dao.buss.IEnterMapper">

	<sql id="listWhere">
		<if test="name != null and name != ''">
			and t1.name like CONCAT('%',#{name},'%')
		</if>
	</sql>

	<select id="queryItemsListCount" parameterType="map" resultType="int">
		select count(1) 
		from t_enter t1
		left join t_enter t2 on t2.id=t1.pid
		where 1=1
		<include refid="listWhere"></include>
	</select>
	<select id="queryItemsList" parameterType="map" resultType="map">
		select t1.*,t2.name pname 
		from t_enter t1
		left join t_enter t2 on t2.id=t1.pid
		where 1=1
		<include refid="listWhere"></include>
		order by t2.id desc,t2.orderby asc, t1.orderby asc
		limit #{start},#{end}
	</select>

	<insert id="add" parameterType="map" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_enter
		(name,orderby,pid,note)
		values
		(
		#{name,jdbcType=VARCHAR},
		#{orderby,jdbcType=NUMERIC},
		#{pid,jdbcType=NUMERIC},
		#{note,jdbcType=VARCHAR}
		)
	</insert>

	<select id="queryItem" parameterType="map" resultType="map">
		select *
		from t_enter
		where name=#{name}
		<if test="id != null and id != ''">
			and id != #{id}
		</if>
		limit 0,1
	</select>
	
	<delete id="del" parameterType="map">
		delete from t_enter where id=#{id}
	</delete>
	<update id="update">
		update t_enter
		set name=#{name,jdbcType=VARCHAR},
			orderby=#{orderby,jdbcType=NUMERIC},
			pid=#{pid,jdbcType=NUMERIC},
			note=#{note,jdbcType=VARCHAR}
		where id=#{id}
	</update>
	
	
	<select id="getById" parameterType="map" resultType="map">
		select t1.*,t2.name pname
		from t_enter t1
		left join t_enter t2 on t2.id=t1.pid
		where t1.id=#{id}
	</select>
</mapper>