<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddout.fb.dao.buss.IItemMapper">

	<sql id="listWhere">
		<if test="name != null and name != ''">
			and t1.name like CONCAT('%',#{name},'%')
		</if>
		
		<if test="manuid != null and manuid != ''">
			and t2.name like CONCAT('%',#{manuid},'%')
		</if>
		<if test="model != null and model != ''">
			and t1.model like CONCAT('%',#{model},'%')
		</if>
	</sql>

	<select id="queryItemsListCount" parameterType="map" resultType="int">
		select count(1)
		from t_item t1
		left join t_Manu t2 on t2.id=t1.manuid
		where 1=1
		<include refid="listWhere"></include>
	</select>
	<select id="queryItemsList" parameterType="map" resultType="map">
		select t1.*,t2.name manuname
		from t_item t1
		left join t_Manu t2 on t2.id=t1.manuid
		where 1=1
		<include refid="listWhere"></include>
		order by t1.manuid asc,t1.name asc,t1.model asc
		limit #{start},#{end}
	</select>

	<insert id="add" parameterType="map" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_item
		(name,manuid,model)
		values
		(
		#{name,jdbcType=VARCHAR},
		#{manuid,jdbcType=NUMERIC},
		#{model,jdbcType=VARCHAR}
		)
	</insert>

	<select id="queryItem" parameterType="map" resultType="map">
		select *
		from t_item
		where name=#{name}
		  and model=#{model}
	    <if test="manuid != null and manuid != ''">
			and manuid=#{manuid}
		</if>
		<if test="id != null and id != ''">
			and id != #{id}
		</if>
		limit 0,1
	</select>
	
	<delete id="del" parameterType="map">
		delete from t_item where id=#{id}
	</delete>
	<update id="update">
		update t_item
		set name=#{name,jdbcType=VARCHAR},
			manuid=#{manuid,jdbcType=NUMERIC},
			model=#{model,jdbcType=VARCHAR}
		where id=#{id}
	</update>
	
	<select id="getById" parameterType="map" resultType="map">
		select t1.*,t2.name manuname
		from t_item t1
		left join t_Manu t2 on t2.id=t1.manuid
		where t1.id=#{id}
	</select>	
	<select id="getTreeData" parameterType="map" resultType="map">
		select t.* from
		(
				select 0 ttype, CONCAT('i_',t1.id) id, t1.id sid, CONCAT(t1.name,'-',t1.model) name,t1.name itemname,t1.model, CONCAT('m_',t1.manuid) pid
				from t_item t1
		
				union all
		
				select 1 ttype, CONCAT('m_',t1.id) id, t1.id sid, t1.name,'' itemname, '' model, 0 pid
				from t_manu t1
		) t
		order by t.ttype desc,t.name asc, t.name asc		
	</select>
	
</mapper>