<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddout.fb.dao.buss.ISupplierMapper">

	<sql id="listWhere">
		<if test="name != null and name != ''">
			and name like CONCAT('%',#{name},'%')
		</if>
	</sql>

	<select id="queryItemsListCount" parameterType="map" resultType="int">
		select count(1) from t_Supplier
		where 1=1
		<include refid="listWhere"></include>
	</select>
	<select id="queryItemsList" parameterType="map" resultType="map">
		select * from t_Supplier
		where 1=1
		<include refid="listWhere"></include>
		order by id asc
		limit #{start},#{end}
	</select>

	<insert id="add" parameterType="map" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_Supplier
		(name,note)
		values
		(
		#{name,jdbcType=VARCHAR},
		#{note,jdbcType=VARCHAR}
		)
	</insert>

	<select id="queryItem" parameterType="map" resultType="map">
		select *
		from t_Supplier
		where name=#{name}
		<if test="id != null and id != ''">
			and id != #{id}
		</if>
		limit 0,1
	</select>
	
	<delete id="del" parameterType="map">
		delete from t_Supplier where id=#{id}
	</delete>
	<update id="update">
		update t_Supplier
		set name=#{name,jdbcType=VARCHAR},
			note=#{note,jdbcType=VARCHAR}
		where id=#{id}
	</update>
</mapper>