<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>fb-analysis</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet"
	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/index.css"/>
</head>
<body>
	<div id="app-main" class="container">
		<div class="row" style="margin:20px 0;">
			<div class="col-md-12 text-right">
				<a v-on:click="authUserShow" v-if="userInfo.auth==false">auth</a> 
				<span v-if="userInfo.auth==true">user:{{userInfo.user}}</span>
			</div>
			<div class="col-md-12 text-right">
				<button type="button" class="btn btn-default" v-on:click="loadInfo" v-if="userInfo.auth==true">Refresh</button>
			</div>
			<div class="col-md-12 text-center" style="color:red;">{{errorMsg}}</div>
		</div>
		
		<!--  -->
		<div class="modal fade" tabindex="-1" role="dialog" id="auth-Modal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Auth User</h4>
		      </div>
		      <div class="modal-body">
		       		user:<input v-model="userInfo.user" placeholder="your user"/><br/>
		       		pwd:<input v-model="userInfo.pwd" placeholder="your password" type="password"/><br/>
		       		<span style="color:red;">{{userInfo.authMsg}}</span>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" v-on:click="authUser">Auth do</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!--  -->
		
		
		
		
		<div class="row">
			<h3>System Info</h3>
			<table class="table table-bordered">
				<tr>
					<td class="text-right">system id</td>
					<td class="text-left">{{sysInfo.system_id}}</td>
					<td class="text-right">system init Time</td>
					<td class="text-left">{{sysInfo.initTime}}</td>
				</tr>
				<tr>
					<td class="text-right">init country</td>
					<td class="text-left">{{sysInfo.init_country}}</td>
					<td class="text-right">last flush Time</td>
					<td class="text-left">{{sysInfo.last_flush_time}}</td>
				</tr>
				<tr>
					<td class="text-right">init Season And Team</td>
					<td class="text-left">{{sysInfo.init_SeasonAndTeam}}</td>
					<td class="text-right">Thread Group end</td>
					<td class="text-left">{{sysView.ThreadGroup4SeasonAndTeam}}</td>
				</tr>
				<tr>
					<td class="text-right">init Games</td>
					<td class="text-left">{{sysInfo.init_Games}}</td>
					<td class="text-right">Thread Group end</td>
					<td class="text-left">{{sysView.ThreadGroup4Games}}</td>
				</tr>
			</table>
		</div>
		<div class="row"  v-if="userInfo.auth==true">
			<h3>Object view</h3>
			<table class="table table-bordered">
				<tr>
					<td class="text-right">country</td>
					<td class="text-left">{{sysView.country}}</td>
					<td class="text-right">league</td>
					<td class="text-left">{{sysView.league}}</td>
				</tr>
				<tr>
					<td class="text-right">season</td>
					<td class="text-left">{{sysView.season}}</td>
					<td class="text-right">team</td>
					<td class="text-left">{{sysView.team}}</td>
				</tr>
				<tr>
					<td class="text-right">match</td>
					<td class="text-left" colspan="3">{{sysView.matchCount}}</td>
				</tr>
				<tr>
					<td class="text-right">match End</td>
					<td class="text-left">{{sysView.matchEnd}}</td>
					<td class="text-right">match odds</td>
					<td class="text-left">{{sysView.odds_info}}</td>
				</tr>
				<tr>
					<td class="text-right">match Un End</td>
					<td class="text-left" colspan="3">{{sysView.matchUnEnd}}</td>
				</tr>
				<tr>
					<td class="text-right">zucai14</td>
					<td class="text-left" colspan="3">
						<a v-for="zucai14 in sysView.zucai14s" v-on:click="viewZucai14(zucai14.zucai_no)">{{zucai14.zucai_no}}期&nbsp;</a>
					</td>
				</tr>
			</table>
		</div>
		<!--  -->
		<div class="row" v-if="userInfo.auth==true">
			<h3>Match Analysis</h3>
			<div class="col-md-12 text-left">
				<div class="input-group">
			          <input v-model="analysis.sreachKey" class="form-control" placeholder="Search for...">
			          <div class="input-group-btn">
			            <button type="button" class="btn btn-default" v-on:click="analysisSreach('x')">Go!</button>
			            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			              <span class="caret"></span>
			              <span class="sr-only">Toggle Dropdown</span>
			            </button>
			            <ul class="dropdown-menu dropdown-menu-right">
			              <li><a v-on:click="analysisSreach(1)">全部<span v-if="analysis.sreachType==1" class="glyphicon glyphicon-ok"></span></a></li>
			              <li><a v-on:click="analysisSreach(2)">联赛<span v-if="analysis.sreachType==2" class="glyphicon glyphicon-ok"></span></a></li>
			              <li><a v-on:click="analysisSreach(3)">杯赛<span v-if="analysis.sreachType==3" class="glyphicon glyphicon-ok"></span></a></li>
			            </ul>
			          </div>
		        </div>
			</div>
			<!--  -->
			<div class="col-md-12" v-if="matchInfo.isActive==false">
				<div class="list-group">
				  <div class="list-group-item" v-for="match in analysis.matchs" v-on:click="showMatchInfo(match.id)">
				    <h5 class="list-group-item-heading">
					    <span v-bind:class="{heightText:match.score_result=='end' && match.match_result==3}">
							 {{match.home_team}}({{match.home_score}})
						</span>
						&nbsp;{{match.score_result}}&nbsp;
						<span v-bind:class="{heightText:match.score_result=='end' && match.match_result==0}">
							({{match.away_score}}){{match.away_team}}
						</span>
				    </h5>
					<table class="list-group-item-text table table-bordered">
						<tr>
							<td class="text-left">{{match.leagueName}}</td>
							<td class="text-left">{{match.seasonName}}</td>
							<td class="text-left">{{match.roundName}}</td>
						</tr>
						<tr>
							<td class="text-left" v-bind:class="{heightText:match.score_result=='end' && match.match_result==3}">{{match.odds_info_3}}</td>
							<td class="text-left" v-bind:class="{heightText:match.score_result=='end' && match.match_result==1}">{{match.odds_info_1}}</td>
							<td class="text-left" v-bind:class="{heightText:match.score_result=='end' && match.match_result==0}">{{match.odds_info_0}}</td>
						</tr>
					</table>
				  </div>
				</div>
			</div>
			<!--  -->
			<div class="col-md-12 mgtop_20" v-if="matchInfo.isActive==true">
				<a v-on:click="closeMatchInfo">Close</a>
				<h4 class="list-group-item-heading mgtop_20">
					<span v-bind:class="{heightText:matchInfo.matchObj.score_result=='end' && matchInfo.matchObj.match_result=='3'}">
						{{matchInfo.matchObj.home_team}} ({{matchInfo.matchObj.home_score}}) 
					</span>
					&nbsp;{{matchInfo.matchObj.score_result}}&nbsp;
					<span v-bind:class="{heightText:matchInfo.matchObj.score_result=='end' && matchInfo.matchObj.match_result=='0'}">
						({{matchInfo.matchObj.away_score}}) {{matchInfo.matchObj.away_team}}
					</span>
				</h4>
				<table class="list-group-item-text table table-bordered">
					<tr>
						<td class="text-left" colspan="2">时间:{{matchInfo.matchObj.gameTime}}</td>
						<td class="text-right">
							<button type="button" class="btn btn-default" v-on:click="viewAnlysis(matchInfo.matchObj.id,$event)">Anlysis</button>
						</td>
					</tr>
					<tr>
						<td class="text-left">{{matchInfo.matchObj.matchName}}</td>
						<td class="text-left">{{matchInfo.matchObj.leagueName}}</td>
						<td class="text-left">{{matchInfo.matchObj.seasonName}}</td>
					</tr>
					<tr>
						<td class="text-left">类别:{{matchInfo.matchObj.boxName}}</td>
						<td class="text-left">分组:{{matchInfo.matchObj.groupName}}</td>
						<td class="text-left">轮次:{{matchInfo.matchObj.roundName}}</td>
					</tr>
					<tr>
						<td class="text-left">{{matchInfo.matchObj.odds_info_3}}</td>
						<td class="text-left">{{matchInfo.matchObj.odds_info_1}}</td>
						<td class="text-left">{{matchInfo.matchObj.odds_info_0}}</td>
					</tr>
				</table>
				<!--  -->
				<h4 v-if="matchInfo.analysisActive">Analysis Info</h4>
				<table class="list-group-item-text table table-bordered mgtop_20" v-if="matchInfo.analysisActive">
					
				</table>
				<!--  -->
				<h4 v-on:click="showOddsInfo">指数详情</h4>
				<table class="list-group-item-text table table-bordered mgtop_20" v-for="odds in matchInfo.matchObj.odds" v-if="matchInfo.oddsActive">
					<tr>
						<th colspan="2">{{odds.companyName}}</th>
						<th colspan="2">赔付率:{{odds.payoff}}</th>
					</tr>
					<tr>
						<td class="text-left"><b>初指:</b></td>
						<td class="text-left">{{odds.start_home}}</td>
						<td class="text-left">{{odds.start_draw}}</td>
						<td class="text-left">{{odds.start_away}}</td>
					</tr>
					<tr>
						<td class="text-left"><b>新指:</b></td>
						<td class="text-left">{{odds.end_home}}</td>
						<td class="text-left">{{odds.end_draw}}</td>
						<td class="text-left">{{odds.end_away}}</td>
					</tr>
					<tr>
						<td class="text-left"><b>概率:</b></td>
						<td class="text-left">{{odds.radio_home}}</td>
						<td class="text-left">{{odds.radio_draw}}</td>
						<td class="text-left">{{odds.radio_away}}</td>
					</tr>
					<tr>
						<td class="text-left"><b>凯利:</b></td>
						<td class="text-left">{{odds.kelly_home}}</td>
						<td class="text-left">{{odds.kelly_draw}}</td>
						<td class="text-left">{{odds.kelly_away}}</td>
					</tr>
				</table>
			</div>
		</div>
		<!--  -->
		<!--  -->
		<!--  -->
		<div class="col-md-12 mgtop_20" v-if="zucai14Info.isActive==true">
			<a v-on:click="closeMatchInfo">Close</a>
			<h5 class="list-group-item-heading mgtop_20">
				<a v-on:click="viewAnalysiSampile">足彩{{zucai14Info.zucai_no}}期-截止:{{zucai14Info.endTime}}</a>
			</h5>
			<table class="list-group-item-text table table-bordered" v-for="match in zucai14Info.matchs"  v-on:click="showMatchInfo(match.match_id)">
				<tr>
					<td class="text-right">{{match.idx}}</td>
					<td class="text-left" colspan="2">{{match.gameTime}}</td>
				</tr>
				<tr>
					<td class="text-right">{{match.leagueName}}</td>
					<td class="text-left">{{match.home_team}}[{{match.home_score}}]</td>
					<td class="text-left">[{{match.away_score}}]{{match.away_team}}</td>
				</tr>
				<tr v-bind:class="{heightBg:match.analysis.analysis_result_1 == match.match_result}">
					<td class="text-right">result:</td>
					<td class="text-left">{{match.match_result}}</td>
					<td class="text-left">{{match.analysis.analysis_result_1}}</td>
				</tr>
			</table>
		</div>
		<!--  -->
		<div class="modal fade" tabindex="-1" role="dialog" id="viewAnalysiSampile-Modal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h6 class="modal-title">{{zucai14Info.zucai_no}}期-截止:{{zucai14Info.endTime}}</h6>
		      </div>
		      <div class="modal-body">
		       		<table class="table table-bordered">
		       			<tr>
		       				<th>序</th>
		       				<th>果</th>
		       				<th>主</th>
		       				<th>客</th>
		       			</tr>
		       			<tr v-for="match in zucai14Info.matchs" v-bind:class="{heightBg:match.analysis.analysis_result_1 == match.match_result}">
		       				<td>{{match.idx}}</td>
		       				<td>{{match.analysis.analysis_result_1}}[{{match.match_result}}]</td>
		       				<td>{{match.home_team}}[{{match.home_score}}]</td>
		       				<td>[{{match.away_score}}]{{match.away_team}}</td>
		       			</tr>
		       		</table>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!--  -->
		
		
	</div>
		
</div>




	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script
		src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="js/vue.js"></script>
	<script  src="js/index.js"></script>
</body>
</html>